body {

  background-color: #f5f5f5;
}


main {

  min-height: 80vh;
}

.rating span {

  margin: 0.1rem;
}

h3 {

  padding: 1rem 0;
}

h1 {

  font-size: 1.8rem;
  padding: 1rem 0;
}

h2 {

    font-size: 1.4rem;
    padding: 0.5rem 0;
}

.navbar {

  background-color: rgb(0, 43, 92);
}

.button {

  background-color: rgb(29, 17, 96);
}

.btn-button {

  background-color: rgb(0, 43, 92);
}

.table__button {

  float: right;
}

.card-title strong  {

  border-bottom-style: none;
  color: #212529;
}

div a {

  text-decoration: none;
}

.color {

  color: red;
}

.nav {

  margin-right: 1.5rem;
}

/* carousel */
.carousel-item-next,
.carousel-item-prev,
.carousel-item.active {

  display: flex;
}

.carousel-caption {

  position: absolute;
  top: 0;
   padding: 10px;
  box-sizing: border-box; 
}

.carousel-caption h2 {

  color: #fff;
}



.carousel-img {

  height: 300px;
  padding: 30px;
  margin: 30px; 
  border-radius: 0%;
  margin-right: auto;
  margin-left: auto;
}

.carousel a {

  margin: 0 auto;
}

@media (max-width: 900px) {

  .carousel-caption h2 {

    font-size: 2.5vw;
  }
}


/*FOOTER*/
footer{
  width:100%;
  background-color:#121619;
  color:#fff;
  }
  
  .top_header{
  padding:2rem;
  display:flex;
  align-items:center;
  justify-content:center;
  position:relative;
  }
  
  .top_header section{
  display:flex;
  align-items:center;
  justify-content:center;
  width:100%;
  }
  
  .top_header span{
  padding:0 1rem;
  }
  
  .top_header .fa{
  color:#ffbe00;
  font-size:35px;
  }
  
  footer .border-shape {
  width: 40%;
  }
  
  footer .border-shape::before {
  width: 100%;
  left:120px;
  }
  
  footer .border-shape::after {
  width: 100%;
  right:120px;
  }
  
  footer .bottom_content section{
  padding:1.5rem 2rem;
  display:flex;
  align-items:center;
  justify-content:Center;
  }
  
  .bottom_content a{
  margin:0 20px;
  color:rgba(255,255,255,0.7);
  transition:0.5s;
  }
  
  .bottom_content a:hover{
  color:rgba(255,255,255,1);
  }
  
  
  .copyright{
  padding:0.8em 0;
  background-color:#1e1e1e;
  text-align:center;
  color:rgba(255,255,255,0.7);
  font-size:12px;
  }
  
  
  
  @media (max-width:820px) {
  .top_header{
  padding:1rem;
  display:block;
  }
  
  .top_header section{
  margin:40px 0;
  align-items:left;
  justify-content:left;
  }
  footer .bottom_content section{
  padding:1rem;
  display:block;
  }
  footer .bottom_content section a{
  padding:1rem;
  font-size:12px;
  margin:0 5px;
  display:inline-block;
  }

  }
  
  

